html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #F1FAEE;
    background-color: #1D3557;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}


/* Page Alignments */

.container {
    display: flex;
    flex-direction: column;
}

.header {
    min-height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #15263F;
}

.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.player-box, .computer-box {
    margin-top: 1.6rem;
    height: 350px;
    width: 350px;
    background-color: #223E60;
    border-radius: 0.7rem;
}

.livescore {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: #203A5C;
    border-radius: 0.7rem 0.7rem 0 0;
}


.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    padding: 1.3rem 2.5rem;
    margin: 1.6rem auto;
    background-color: #223E60;
    border-radius: 0.7rem;
}

button {
    border: none;
    border-radius: 0.7rem;
    background-color: #31587A;
    padding: 1.5rem;
    transform: scale(1);
}

button:enabled:active {
    transform: scale(1.02);
}
button:disabled {
    opacity: 0.5;
}

/* Button Design */
.rock, .paper, .scissors {
    width: 118px;
    height: 118px;
}

.rock {
    background-image: url('./imgs/rock.png');
    background-size: 64px;
    background-repeat: no-repeat;
    background-position: center;
}

.paper {
    background-image: url('./imgs/paper.png');
    background-size: 64px;
    background-repeat: no-repeat;
    background-position: center
}

.scissors {
    background-image: url('./imgs/scissors.png');
    background-size: 64px;
    background-repeat: no-repeat;
    background-position: center
}