html {
    /* font-family: 'Bebas Neue', Helvetica, sans-serif; */
    font-size: 18px;
    color: #F1FAEE;
    background-color: #272838;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}


/* Page Alignments */

.container {
    display: flex;
    flex-direction: column;
    transition: opacity 0.2s ease-in;
}

.header {
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header > h1 {
    margin: 1.5rem 0 0 0;
    letter-spacing: 7px;
}

/* Scoreboard */
.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.player-box, .computer-box {
    margin-top: 1.6rem;
    height: 350px;
    width: 350px;
    background-color: #F49F0A;
    border-radius: 0.7rem;
}

.livescore {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    padding: 6px;
    background-color: #F08700;
    border-radius: 0.7rem 0.7rem 0 0;
}

/* Player Selection Images */
.player-selection-area, .computer-selection-area {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 272px;
    border-radius:0 0 0.7rem 0.7rem;
    transition: all 1s;
}

.player-selection-area > img, .computer-selection-area > img {
    max-height: 250px;
}

/* Win/Lose/Tie Effects */
.win-color {
    background-color: #31cf40;
    border: #31cf40;
    box-shadow:  0 0 50px #31cf40; 
}

.lose-color {
    background-color: #ff141f;
    border: #ff141f;
    box-shadow:  0 0 50px #ff141f;
}

.tie-shake {
    animation: tie-shake 0.1s infinite;
}

@keyframes tie-shake {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(0px) }
    75% { transform: translateX(-5px) }
    100% { transform: translateX(0) }
}

/* Buttons Container + General Buttons */

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    padding: 1.3rem 2.5rem;
    margin: 1.6rem auto;
    background-color: #F58B00;
    border-radius: 0.7rem;
}

button {
    border: none;
    border-radius: 0.7rem;
    background-color: #F49F0A;
    padding: 1.5rem;
    transform: scale(1);
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

button:enabled:active {
    transform: scale(1.02);
}
button:disabled {
    opacity: 0.5;
}

/* Button Image Fix */
#rock, #paper, #scissors {
    width: 118px;
    height: 118px;
}

#rock {
    background-image: url('./imgs/rock.png');
    background-size: 64px;
    background-repeat: no-repeat;
    background-position: center;
}

#paper {
    background-image: url('./imgs/paper.png');
    background-size: 64px;
    background-repeat: no-repeat;
    background-position: center
}

#scissors {
    background-image: url('./imgs/scissors.png');
    background-size: 64px;
    background-repeat: no-repeat;
    background-position: center
}

/* Modal */
.modal {
    border-radius: 0.7rem;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    padding: 0 30px 30px;
    background: #08415C;
    color: #F1FAEE;
    transform: translate(-50%,-50%) scale(0.1);
    visibility: hidden;
    transition: transform 0.4s;
    padding: 70px;
}

.modal.open {
    transform: translate(-50%,-50%) scale(1);
    visibility: visible;
}

.modal-btn {
    color: #F1FAEE;
    background-color: #F49F0A;
    font-size: 0.9rem;
    height: 40px;
    width: 150px;
    padding: 2px;
    margin: 5px;
}