html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #F1FAEE;
    background-color: #1D3557;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}


/* Page Alignments */

.container {
    display: flex;
    flex-direction: column;
}

.header {
    min-height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #15263F;
}

/* Scoreboard */
.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.player-box, .computer-box {
    margin-top: 1.6rem;
    height: 350px;
    width: 350px;
    background-color: #223E60;
    border-radius: 0.7rem;
}

.livescore {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: #203A5C;
    border-radius: 0.7rem 0.7rem 0 0;
}

/* Player Selection Images */
.player-selection-area, .computer-selection-area {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 272px;
    border-radius: 0.7rem;
    transition: all 1s;
}

.player-selection-area > img, .computer-selection-area > img {
    max-height: 250px;
}

/* Win/Lose/Tie Effects */
.win-color {
    background-color: #609966;
    border: #609966;
    box-shadow:  0 0 50px #609966; 
}

.lose-color {
    background-color: #DF2E38;
    border: #DF2E38;
    box-shadow:  0 0 50px #DF2E38;
}

.tie-shake {
    animation: tie-shake 0.1s infinite;
}

@keyframes tie-shake {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(0px) }
    75% { transform: translateX(-5px) }
    100% { transform: translateX(0) }
}

/* Buttons Container + General Buttons */

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    padding: 1.3rem 2.5rem;
    margin: 1.6rem auto;
    background-color: #223E60;
    border-radius: 0.7rem;
}

button {
    border: none;
    border-radius: 0.7rem;
    background-color: #31587A;
    padding: 1.5rem;
    transform: scale(1);
}

button:enabled:active {
    transform: scale(1.02);
}
button:disabled {
    opacity: 0.5;
}

/* Button Image Fix */
.rock, .paper, .scissors {
    width: 118px;
    height: 118px;
}

.rock {
    background-image: url('./imgs/rock.png');
    background-size: 64px;
    background-repeat: no-repeat;
    background-position: center;
}

.paper {
    background-image: url('./imgs/paper.png');
    background-size: 64px;
    background-repeat: no-repeat;
    background-position: center
}

.scissors {
    background-image: url('./imgs/scissors.png');
    background-size: 64px;
    background-repeat: no-repeat;
    background-position: center
}
